# Data_Scraping using Selenium

# Scrape data using the location and salary filter from naukri website.
Scrape data for “Data Scientist” designation for first 10 job results along with job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [2]:
# import necessary libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import re
import time
import warnings
warnings.filterwarnings('ignore')

In [128]:
# open chrome and load the webpage
driver=webdriver.Chrome()
driver.get('https://www.naukri.com/')

In [129]:
# enter keywords in input sections
job=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input').send_keys('Data Scientist')
loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input').send_keys('Delhi/NCR')

In [130]:
# search
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]').click()

In [131]:
# add salary filter
sal=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label').click()

In [132]:
# scrape job titles and add it to a list
title=[]

end=10
for i in driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a'):
    title.append(i.text)
    if len(title)==end:
        break
title

['Data Scientist',
 'Data Scientist',
 'Data Scientist I ( SE - 1 )',
 'Data Scientist',
 'Data Scientist',
 'Sr. Data Science Engineer - Noida/BLR',
 'Python Data Scientist',
 'Data Scientist',
 'Data scientist',
 'Data Science Manager']

In [133]:
# scrape company name and add it to a list
company=[]

end=10
for i in driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]'):
    company.append(i.text)
    if len(company)==end:
        break
company

['Aurigo Software Technologies',
 'WSD Consultant',
 'Yatra.com',
 'Hero Fincorp',
 'Acenet',
 'Imaginators Try Going Beyond',
 'Buddy4study',
 'Akhil Systems',
 'Digital Vidya',
 'Digilytics']

In [134]:
# scrape job location and add it to a list
location=[]

end=10
for i in driver.find_elements(By.XPATH,'//span[@class="locWdth"]'):
    location.append(i.text)
    if len(location)==end:
        break
location

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Hyderabad, Pune, Chennai, Gurugram, Bengaluru',
 'New Delhi',
 'Delhi / NCR',
 'Gurugram, Bengaluru',
 'Noida, Uttar Pradesh, Bengaluru, Karnataka',
 'Noida',
 'Gurugram',
 'Gurugram',
 'Gurugram']

In [135]:
# scrape experience required and add it to a list
experience=[]

end=10
for i in driver.find_elements(By.XPATH,'//span[@class="expwdth"]'):
    experience.append(i.text)
    if len(experience)==end:
        break
experience

['4-8 Yrs',
 '1-5 Yrs',
 '1-5 Yrs',
 '3-8 Yrs',
 '3-4 Yrs',
 '6-8 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '4-8 Yrs',
 '7-10 Yrs']

In [136]:
# ensure all lists have same size before making dataframe
print(len(title),len(company),len(location),len(experience))

10 10 10 10

In [137]:
naukri_data=pd.DataFrame({'Job title':title,'Company': company,'Location':location,'Experience required':experience})
naukri_data

,Job title,Company,Location,Experience required
0,Data Scientist,Aurigo Software Technologies,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",4-8 Yrs
1,Data Scientist,WSD Consultant,"Mumbai, Hyderabad, Pune, Chennai, Gurugram, Be...",1-5 Yrs
2,Data Scientist I ( SE - 1 ),Yatra.com,New Delhi,1-5 Yrs
3,Data Scientist,Hero Fincorp,Delhi / NCR,3-8 Yrs
4,Data Scientist,Acenet,"Gurugram, Bengaluru",3-4 Yrs
5,Sr. Data Science Engineer - Noida/BLR,Imaginators Try Going Beyond,"Noida, Uttar Pradesh, Bengaluru, Karnataka",6-8 Yrs
6,Python Data Scientist,Buddy4study,Noida,4-8 Yrs
7,Data Scientist,Akhil Systems,Gurugram,5-8 Yrs
8,Data scientist,Digital Vidya,Gurugram,4-8 Yrs
9,Data Science Manager,Digilytics,Gurugram,7-10 Yrs

In [138]:
driver.quit()

# Scrape data for “Data Scientist” Job position in “Bangalore” location from shine website. 
Data to be scraped are job-title, job-location, company_name, experience_required.

In [139]:
# open chrome and go to shine website
driver=webdriver.Chrome()
driver.get('https://www.shine.com/')

In [141]:
# enter the keywords and search
job=driver.find_element(By.XPATH,('/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')).send_keys('Data Scientist')
loc=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input').send_keys('Bangalore')
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button').click()

In [142]:
# scrap job title
title=[]
while len(title)<10:
    for i in driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/a'):
        title.append(i.text)
        if len(title)==10:
            break
title

['Data Scientist',
 'Data Scientist Urgent Recruitment',
 'Data Scientist Opening',
 'Data Scientist Recruitment',
 'Data Scientist Vacancy',
 'Hiring For Data Scientist',
 'Data Scientist Opening',
 'Data Scientist Opening',
 'Data Scientist Recruitment',
 'Data Scientist']

In [143]:
#scrap company
company=[]
while len(company)<10:
    for i in driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span'):
        company.append(i.text)
        if len(company)==10:
            break
company

['alike thoughts solutions private li...',
 'divya staffing solution',
 'divya staffing solution',
 'radhika enterprises',
 'divya staffing solution',
 'divya staffing solution',
 'renuka interprises',
 'renuka interprises',
 'radhika enterprises',
 'techno endura']

In [144]:
# scrap location
location=[]
while len(location)<10:
    for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"] '):
        location.append(i.text.split('\n')[0])
        if len(location)==10:
            break
location

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [145]:
# scrap experience
exp=[]
while len(exp)<10:
    for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]'):
        exp.append(i.text)
        if len(exp)==10:
            break
exp

['5 to 10 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 2 Yrs']

In [146]:
# ensure all lists have same size before making dataframe
print(len(title),len(company),len(location),len(exp))

10 10 10 10

In [147]:
shine_data=pd.DataFrame({'Job title': title,'Company name':company,'Location':location,'Experience required':exp})
shine_data

,Job title,Company name,Location,Experience required
0,Data Scientist,alike thoughts solutions private li...,Bangalore,5 to 10 Yrs
1,Data Scientist Urgent Recruitment,divya staffing solution,Bangalore,0 to 4 Yrs
2,Data Scientist Opening,divya staffing solution,Bangalore,0 to 4 Yrs
3,Data Scientist Recruitment,radhika enterprises,Bangalore,0 to 4 Yrs
4,Data Scientist Vacancy,divya staffing solution,Bangalore,0 to 4 Yrs
5,Hiring For Data Scientist,divya staffing solution,Bangalore,0 to 4 Yrs
6,Data Scientist Opening,renuka interprises,Bangalore,0 to 4 Yrs
7,Data Scientist Opening,renuka interprises,Bangalore,0 to 4 Yrs
8,Data Scientist Recruitment,radhika enterprises,Bangalore,0 to 4 Yrs
9,Data Scientist,techno endura,Bangalore,0 to 2 Yrs

In [148]:
driver.quit()

# Scrape 100 reviews data from flipkart.com for iphone11 phone. 

Data to be scraped are:
1. Rating
2. Review summary
3. Full review

In [149]:
# open chrome and load the webpage
driver=webdriver.Chrome()
url='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART'
driver.get(url)

In [150]:
# scrape 100 ratings and return to initial page 
rating = []

while len(rating) < 100:
    for i in driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]'):
        rating.append(i.text)
        if len(rating) == 100:
            break

    if len(rating) == 100:
        break

    next_buttons = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
    if next_buttons:
        next_buttons[-1].click()
    go_to_first_page=driver.get(url)


    time.sleep(3)  

rating[:5]

['5', '5', '5', '5', '5']

In [151]:
# scrape review summary
review1 = []

while len(review1) < 100:
    for i in driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]'):
        review1.append(i.text)
        if len(review1) == 100:
            break

    if len(review1) == 100:
        break

    next_buttons = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
    if next_buttons:
        next_buttons[-1].click()
    go_to_first_page=driver.get(url)


    time.sleep(3)  

review1[:5]

['Excellent',
 'Perfect product!',
 'Worth every penny',
 'Best in the market!',
 'Wonderful']

In [152]:
# scrape full review 
review2 = []

while len(review2) < 100:
    for i in driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]'):
        review2.append(i.text)
        if len(review2) == 100:
            break

    if len(review2) == 100:
        break

    next_buttons = driver.find_elements(By.CLASS_NAME, '_1LKTO3')
    if next_buttons:
        next_buttons[-1].click()
    go_to_first_page=driver.get(url)


    time.sleep(3)  

review2[:5]

['NYC',
 'Photos super',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'Good Camera',
 'This is amazing at all']

In [153]:
# ensure all lists have same size before making dataframe
print(len(rating),len(review1),len(review2))

100 100 100

In [154]:
flipkart_reviews=pd.DataFrame({'iphone rating': rating,'Review Summary':review1,'Full Review':review2})
flipkart_reviews

,iphone rating,Review Summary,Full Review
0,5,Excellent,NYC
1,5,Perfect product!,Photos super
2,5,Worth every penny,Feeling awesome after getting the delivery of ...
3,5,Best in the market!,Good Camera
4,5,Wonderful,This is amazing at all
...,...,...,...
95,5,Terrific purchase,Value for money 😍
96,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
97,5,Must buy!,It’s really awesome
98,5,Terrific,Very very good
99,5,Just wow!,Perfect Product!!

In [155]:
driver.quit()

# Scrape data for first 100 sneakers from flipkart.com
Data to be scraped are:
1. Brand
2. Product Description
3. Price

In [156]:
# load chrome and get the url
driver=webdriver.Chrome()
url='https://www.flipkart.com/'
driver.get(url)

In [157]:
# search for the keyword
keyword=driver.find_element(By.CLASS_NAME,'Pke_EE').send_keys('sneakers')
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [158]:
# scrape sneaker brands
brand=[]
while len(brand)<100:
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(i.text)
        if len(brand)==100:
            break
    if len(brand)==100:
        break
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]').click()
    time.sleep(2)

brand[:5]

['RapidBox', 'ATOM', 'Deals4you', 'URBANBOX', 'RED TAPE']

In [159]:
# scrape pdt description
des=[]
while len(des)<100:
    for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        des.append(i.text)
        if len(des)==100:
            break
    if len(des)==100:
        break
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3" ]')
    if nextbutton:
        nextbutton.click()
    time.sleep(2)
des[:5]

['Spring Edge Alpha 2 Sneakers For Men',
 'Alpha Predator Sneakers For Men',
 'Sneakers For Women',
 'Trending Stylish Casual Outdoor Shoes Sneakers For Men',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...']

In [160]:
# scrape pdt price
price=[]
while len(price)<100:
    for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(i.text)
        if len(price)==100:
            break
    if len(price)==100:
        break
    nextbutton=driver.find_element(By.XPATH,'//a[@class="_1LKTO3" ]').click()
    time.sleep(2)
price[:5]

['₹595', '₹1,335', '₹819', '₹1,119', '₹2,474']

In [161]:
# ensure all lists have same size before making dataframe
print(len(brand),len(des),len(price))

100 100 100

In [162]:
# make final dataframe
flipkart_sneakers=pd.DataFrame({'Sneaker brand':brand,'Product description':des,'Price':price})
flipkart_sneakers

,Sneaker brand,Product description,Price
0,RapidBox,Spring Edge Alpha 2 Sneakers For Men,₹595
1,ATOM,Alpha Predator Sneakers For Men,"₹1,335"
2,Deals4you,Sneakers For Women,₹819
3,URBANBOX,Trending Stylish Casual Outdoor Shoes Sneakers...,"₹1,119"
4,RED TAPE,Casual Sneakers Shoes for Men | Soft Cushioned...,"₹2,474"
...,...,...,...
95,aadi,A2 Sneakers For Men,₹284
96,ATOM,327 Sneakers For Women,"₹2,580"
97,RUN SEVEN,Spring Edge Alpha 2 Sneakers For Men,"₹1,935"
98,RED TAPE,Sneakers For Men,"₹1,149"
99,SOLETHREADS REBEL,Sneakers For Men,₹649

In [163]:
driver.quit()

# Scrape laptop details with “Intel Core i7” feature from amazon

Data to be scraped are:
1. Title
2. Ratings
3. Price

In [164]:
# load chrome and open amazon webpage
driver=webdriver.Chrome()
driver.get('https://www.amazon.com/')

In [167]:
# search for the keyword 'laptop'
kw=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[2]/form/div/div/input').send_keys('laptop')
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[2]/form/input').click()

In [170]:
# set CPU Type filter to “Intel Core i7”

filter_seemore=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div/div/div/div[7]/div[7]/div/ul/li/span/div/a/span').click()
filter_cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div/div/div/div[7]/div[7]/div/ul/li/span/div/div/ul/span[15]/li/span/a/div/label/i').click()

In [171]:
# scrape laptop names
title=[]
while len(title)<10:
    for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]'):
        title.append(i.text)
        if len(title)==10:
            break
    if len(title)==10:
        break
    nextbutton=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[1]/div/span[1]/div[1]/div[34]/div/div/span/ul/li[4]/span/a')
    nextbutton.click()
    
title

['ASUS ROG Strix G16 (2024) Gaming Laptop, 16” 16:10 FHD 165Hz Display, NVIDIA® GeForce RTX™ 4060, Intel Core i7-13650HX, 16GB DDR5, 1TB PCIe Gen4 SSD, Wi-Fi 6E, Windows 11, G614JV-AS74',
 'MSI Cyborg 15 Gaming Laptop, 15.6" 144Hz FHD IPS Display, 10-Core Intel Core i7-12650H, NVIDIA Geforce RTX 4060, 32GB DDR5 RAM, 1TB NVMe SSD, Backlit Keyboard, HDMI, USB-C, Win 11, w/CUE Accessories',
 'Dell Inspiron 13 5310, 13.3 inch QHD (Quad High Definition) Laptop - Thin and Light Intel Core i7-11370H, 16GB DDR4 RAM, 512GB SSD, NVIDIA GeForce MX450, Services - Windows 10 Home',
 'Dell Newest 13th Generation Business Inspiron 15 3530 Laptop, 15.6" FHD Touchscreen, Intel Core i7-1355U, 32GB RAM, 1TB SSD, Webcam, HDMI, Wi-Fi 6, Windows 11 Pro, Black',
 'Dell G15 5530 Gaming Laptop - 15.6-inch FHD (1920x1080) Display, Intel Core i7-13650HX, 16GB DDR5 RAM, 1TB SSD, NVIDIA GeForce RTX 4060 8GB GDDR6, Windows 11 Home, Service - Dark Shadow Gray',
 'HP 17 Laptop, 17.3" HD+ Touchscreen Display, 12th Gen Intel Core i7-1255U, 64GB RAM, 2TB SSD, Webcam, HDMI, SuperSpeed USB Ports, Wi-Fi 6, Windows 11 Home, Silver',
 'ASUS Vivobook Laptop, 15.6” FHD Touchscreen, Intel Core i7-1255U Processor, 40GB RAM, 2TB SSD, Backlit Keyboard, Numeric Keypad, Webcam, HDMI, Wi-Fi 6, Windows 11 Home, Blue',
 'Dell Latitude 7490 Intel Core i7-8650U 16GB DDR4 RAM, 512GB SSD 14" FHD Windows 10 Pro Laptop (Renewed)',
 'Acer Swift Go Intel Evo Thin & Light Premium Laptop 14" 1920x1200 100% sRGB Touch Screen Display Intel Core i7-1355U Intel Iris Xe 16GB LPDDR5 512GB Gen 4 SSD SFG14-71T-72QV',
 'Dell Inspiron 3520 15.6" FHD Laptop, Intel Core i7-1255U Processor, 32GB RAM, 1TB SSD, Webcam, HDMI, SD-Card Slot, Wi-Fi 6, Windows 11 Home, Black']

In [172]:
# scrape laptop ratings
rating=[]
while len(rating)<10:
    for i in driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]'):
        
        inner=i.get_attribute('innerHTML')
        rate=re.findall(r'(?<=>)\d.\d[\w+|\s]+(?<=)' , inner)
        rating.append(rate)
        if len(rating)==10:
            break

    if len(rating)==10:
        break
    
rating

[['4.1 out of 5 stars'],
 ['4.1 out of 5 stars'],
 ['4.0 out of 5 stars'],
 ['4.1 out of 5 stars'],
 ['4.2 out of 5 stars'],
 ['3.8 out of 5 stars'],
 ['4.2 out of 5 stars'],
 ['4.1 out of 5 stars'],
 ['4.1 out of 5 stars'],
 ['4.0 out of 5 stars']]

In [173]:
# scrape laptop price
price=[]
while len(price)<10:
    for i in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]'):
        price.append(i.text)
        if len(price)==10:
            break
    if len(price)==10:
        break
    
price

['1,396', '1,089', '799', '822', '1,180', '913', '743', '268', '694', '704']

In [174]:
# ensure all lists have same size before making dataframe
print(len(title),len(rating),len(price))

10 10 10

In [175]:
laptop_data=pd.DataFrame({'Laptop name':title,'Customer rating':rating,'Price': price})
laptop_data

,Laptop name,Customer rating,Price
0,"ASUS ROG Strix G16 (2024) Gaming Laptop, 16” 1...",[4.1 out of 5 stars],"1,396"
1,"MSI Cyborg 15 Gaming Laptop, 15.6"" 144Hz FHD I...",[4.1 out of 5 stars],"1,089"
2,"Dell Inspiron 13 5310, 13.3 inch QHD (Quad Hig...",[4.0 out of 5 stars],799
3,Dell Newest 13th Generation Business Inspiron ...,[4.1 out of 5 stars],822
4,Dell G15 5530 Gaming Laptop - 15.6-inch FHD (1...,[4.2 out of 5 stars],"1,180"
5,"HP 17 Laptop, 17.3"" HD+ Touchscreen Display, 1...",[3.8 out of 5 stars],913
6,"ASUS Vivobook Laptop, 15.6” FHD Touchscreen, I...",[4.2 out of 5 stars],743
7,Dell Latitude 7490 Intel Core i7-8650U 16GB DD...,[4.1 out of 5 stars],268
8,Acer Swift Go Intel Evo Thin & Light Premium L...,[4.1 out of 5 stars],694
9,"Dell Inspiron 3520 15.6"" FHD Laptop, Intel Cor...",[4.0 out of 5 stars],704

In [176]:
driver.quit()

# Scrape data for Top 1000 Quotes of All Time from azquotes.com webpage.
Scrap a) Quote b) Author c) Type Of Quotes

In [177]:
# load chrome and search webpage
driver=webdriver.Chrome()
url='https://www.azquotes.com/'
driver.get(url)

In [178]:
# click on Top Quote
driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a').click()

In [179]:
# scrap quote
quote=[]
while len(quote)<100:
    for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
        quote.append(i.text)
        if len(quote)==100:
            break
    if len(quote)==100:
        break
quote[:5]

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.']

In [180]:
# scrap author
author=[]
while len(author)<100:
    for i in driver.find_elements(By.XPATH,'//div[@class="author"]/a'):
        author.append(i.text)
        if len(author)==100:
            break
    if len(author)==100:
        break
author[:5]

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck']

In [181]:
# scrap type of quotes
typeq=[]
while len(typeq)<100:
    for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
        typeq.append(i.text)
        if len(typeq)==100:
            break
    if len(typeq)==100:
        break
typeq[:5]

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic']

In [182]:
# ensure all lists have same size before making dataframe
print(len(quote),len(author),len(typeq))

100 100 100

In [183]:
azquotes_data=pd.DataFrame({'Quotes':quote,'Author':author,'Type of Quote':typeq})
azquotes_data

,Quotes,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [184]:
driver.quit()

# Scrape details of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from:
https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1

In [185]:
# load chrome and search webpage
driver=webdriver.Chrome()
url='https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1'
driver.get(url)

In [186]:
# scrape whole data from table
table=driver.find_element(By.XPATH,'(//table)[1]')

data=[]

rows=table.find_elements(By.TAG_NAME,'tr')
for i in rows:
    records=[]
    columns=i.find_elements(By.TAG_NAME,'td')
    for j in columns:
        records.append(j.text.strip().replace('\n',' '))
    data.append(records)
table_data=pd.DataFrame(data,columns=['S.No','Prime Minister','Born-Dead','Term of Office','Remarks'])
table_data=table_data.dropna(how='all')
display(table_data)

,S.No,Prime Minister,Born-Dead,Term of Office,Remarks
1,1.,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964 16 years, 286 days",The first prime minister of India and the long...
2,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 days",First acting PM of India
3,3.,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966 1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
4,4.,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966 13 days,-
5,5.,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977 11 years, 59 ...",First female Prime Minister of India
6,6.,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
7,7.,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980 170 days,Only PM who did not face the Parliament
8,8.,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984 4 years, 29...",The first lady who served as PM for the second...
9,9.,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989 5 years, 32...",Youngest to become PM (40 years old)
10,10.,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990 343 days,First PM to step down after a vote of no confi...
11,11.,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991 223 days,He belongs to Samajwadi Janata Party
12,12.,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996 4 years, 330 days",First PM from South India
13,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 16 days,PM for shortest tenure
14,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 324 days,He belongs to Janata Dal
15,15.,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
16,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a full...
17,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
18,18.,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
19,19.,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [187]:
driver.quit()